@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 98%;
  font-weight: 300;
  line-height: 1.3;
  color: rgba(36, 43, 51, 1);
  hyphens: auto;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  text-decoration-skip: ink;
}

h1 {
  font-size: 2em;
  line-height: 1.25;
}

h2 {
  font-size: 1.625em;
  line-height: 1.15384615;
}

h3 {
  font-size: 1.375em;
  line-height: 1.13636364;
}

h4 {
  font-size: 1.125em;
  line-height: 1.11111111;
}

h5 {
  font-size: 0.875em;
  line-height: 1.08585858;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

main > header,
main > article {
  margin: 0.6in;
  margin-top: 0.20in;
  margin-bottom: 0;
}

main > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

ul,
dl,
dd,
dt {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.bold {
  font-weight: 700;
}

.normal {
  font-weight: 500;
}

.list-unstyled {
  list-style: none;
}

.uppercase {
  text-transform: uppercase;
}

.hidden {
  display: none !important;
}

#title {
  border-left: 4px solid #f08080;
  padding-left: 8px;
}

#title h2,
#title h3 {
  font-weight: 300;
}

#title h2 {
  font-size: 1.375em;
}

#info ul li {
  color: rgba(36, 43, 51, 0.55);
  font-size: 0.85em;
}

#summary {
  position: relative;
}

main > article > h3 {
  color: #f08080;
  text-transform: uppercase;
  font-size: 0.625em;
  margin-bottom: 0.05in;
}

main > article > section > h4 {
  font-size: 1em;
}

.date {
  color: rgba(36, 43, 51, 0.55);
  display: block;
  font-size: 0.625em;
  margin-top: 0.05in;
}

.company,
.school,
.project,
#skills ul {
  margin-top: 0.15in !important;
  padding-left: 0;
  padding-right: 0;
}

.company > h4 > span,
.school > h4 > span {
  font-weight: 300;
}

.project-summary,
.company-summary {
  margin-top: 0.15in;
}

.company h5 {
  margin-top: 0.15in;
  margin-bottom: 0.15in;
}

.company-projects {
  padding: 12px 16px;
}

.company-projects ul {
  font-size: 0.875em;
}

.company-projects li {
  margin-top: 0.05in;
  margin-bottom: 0.075in;
}

.company-projects dd:last-child {
  margin-bottom: 0;
}

#skills ul {
  display: flex;
  flex-wrap: wrap;
}

#skills ul li {
  background-color: #f9f9f9;
  border-radius: 16px;
  color: rgba(36, 43, 51, 0.55);
  font-size: 0.65em;
  font-weight: bold;
  padding: 5px 10px;
  margin-right: 6px;
  margin-bottom: 6px;
}

#pdf-download {
  align-items: center;
  background-color: white;
  border-radius: 24px;
  bottom: 20px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  color: #f08080;
  display: inline-flex;
  font-size: 0.625em;
  font-weight: 500;
  height: 36px;
  justify-content: center;
  max-width: 175px;
  padding: 0 20px;
  position: fixed;
  right: 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 0.27s cubic-bezier(0, 0, 0.2, 1) 0ms,
    -webkit-box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-transform 0.27s cubic-bezier(0, 0, 0.2, 1) 0ms;
  width: auto;
}

#pdf-download:hover {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

#pdf-download i.fa-file-pdf {
  font-size: 1.325em;
  margin-left: 6px;
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}
